p.think, p.do {
    text-align: center;
    font-size: 1.30rem;
    margin: 4rem 2rem;
    margin-bottom: 0;
}

p.think::before {
    content: "🧠" !important;
}

p.do::before {
    content: "🛠️" !important;
}


/* aside.think {
    background-color: #f9ffdc !important;
    border-color: #aeb871 !important;
}

aside.do {
    background-color: #ecffed !important;
    border-color: #8fb193 !important;
} */