/* .think, .do {
    text-align: center;
    font-size: 1.30rem;
    margin: 4rem 2rem;
}

.think::before {
    content: "🧠" !important;
}

.do::before {
    content: "🛠️" !important;
} */


.think {
    background-color: #f9ffdc;
    border-color: #aeb871;
}

.do {
    background-color: #ecffed;
    border-color: #8fb193;
}